<div class="col-10 offest-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/MikeWick">Mike</a>, who enjoys creating in the kitchen.
  </p>
  <br />
  <p>
    Mike is self-taught and loves making new takes on classic dishes.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Mike.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Mike Wickert</h2>
      <br />
      <p>
        Mike Wickert loves cooking and is learning web development in his free time.
      </p>
    </div>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>